.display-position {
    position: absolute;
    z-index: 100;
    pointer-events: auto; 
    min-width: 50px;
    min-height: 50px;
}

.player {
    right: 20px;
    top: 250px;
}

.follower {
    left: 20px;
    top: 50px;
}


.display-unit {
    position: relative;
    width: 400px;
    height: 300px;
    overflow: hidden;
    margin-bottom: 20px;
}

.display-unit canvas {
    position: absolute;
    pointer-events: none;
}

.layer-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.layer-cutin {
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    z-index: 20;
}

.layer-name {
    top: 10px;
    left: 10px;
    width: 150px;
    height: 50px;
    z-index: 30;
}

.layer-word {
    bottom: 20px;
    left: 10%;
    width: 80%;
    height: 60px;
    z-index: 40;
    /* 背景を少し暗くするなど、文字を読みやすくする調整もCSSで可能 */
}

/* 右外(100%)から元の位置(0)へ移動 */
@keyframes slideInFromRight {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0); }
}

.slide-in {
    /* SkyrimってGPUのほうがまずい(CPU使用率30%なのに対して、GPU使用率70%) */
    animation: slideInFromRight 0.5s ease-out forwards;
    will-change: transform;
}